.display{
    font-size: 3rem;
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 15px;
    height: 20%;
}

.display div{
    text-align: right;
}

.operator{
    font-size: 1rem;
}